<style>
    select, input[type="text"] {
        width: 160px!important;
    }
</style>
<div id="modalImportTowers" class="modal hide fade">
    <form action="/tower/import" method="post" enctype="multipart/form-data">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>导入铁塔数据</h3>
        </div>
        <div class="modal-body">
            <table class="create-user">
                <tr>
                    <td class="td-gray">数据文件</td>
                    <td><input name="file" type="file" /></td>
                </tr>
                <tr>
                    <td class="td-gray">属性</td>
                    <td>
                        <select name="status">
                            <option value="正常">正常</option>
                            <option value="预选">预选</option>
                            <option value="难点">难点</option>
                            <option value="储备">储备</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button role="button" class="btn btn-primary">导入</button>
        </div>
    </form>
</div>

<div id="modalEditTower" class="modal hide fade">
    <form action="/tower/edit" method="post" enctype="multipart/form-data">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>修改铁塔</h3>
        </div>
        <div class="modal-body">
            <input type="hidden" name="id" id="TowerID" />
            <table class="edit-tower">
                <tr>
                    <td class="td-gray">铁塔名称</td>
                    <td><input type="text" name="name" id="txtName" placeholder="铁塔名称" /></td>
                </tr>
                <tr>
                    <td class="td-gray">城市</td>
                    <td><input type="text" name="city" id="txtCity" placeholder="城市" /></td>
                </tr>
                <tr>
                    <td class="td-gray">所属地区</td>
                    <td><input type="text" name="district" id="txtDistrict" placeholder="所属地区" /></td>
                </tr>
                <tr>
                    <td class="td-gray">运营商</td>
                    <td>
                        <select id="lstEditProviders" name="provider">
                            <option value="China Mobile">中国移动</option>
                            <option value="China Telecom">中国电信</option>
                            <option value="China Unicom">中国联通</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-gray">场景</td>
                    <td>
                        <select id="lstEditScene" name="scene">
                            <option>郊区</option>
                            <option>密集城区</option>
                            <option>农村</option>
                            <option>一般城区</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-gray">塔型</td>
                    <td>
                        <select id="lstEditTypes" name="type">
                            <option value="B">B</option>
                            <option value="T">T</option>
                            <option value="Z">Z</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="td-gray">塔高</td>
                    <td><input name="height" type="text" id="txtHeight" placeholder="塔高" /></td>
                </tr>
                <tr>
                    <td class="td-gray">经度</td>
                    <td><input name="lon" type="text" id="txtLon" placeholder="经度" /></td>
                </tr>
                <tr>
                    <td class="td-gray">纬度</td>
                    <td><input name="lat" type="text" id="txtLat" placeholder="纬度" /></td>
                </tr>
                <tr>
                    <td class="td-gray">详细地址</td>
                    <td><input name="address" type="text" id="txtAddress" placeholder="详细地址" value="" /></td>
                </tr>
                <tr>
                    <td class="td-gray">属性</td>
                    <td>
                        <select name="status" id="lstStatus">
                            <option value="正常">正常</option>
                            <option value="预选">预选</option>
                            <option value="难点">难点</option>
                            <option value="储备">储备</option>
                        </select></td>
                </tr>
                <tr>
                    <td class="td-gray">链接URL</td>
                    <td><input name="url" type="text" id="txtUrl" placeholder="链接URL" /></td>
                </tr>
                <tr>
                    <td class="td-gray">铁塔照片</td>
                    <td>
                        <p><input name="file" type="file" /></p>
                        <p><img id="imgTower" style="max-width: 100%; max-height: 200px" /></p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<div class="content-wrap">
    <div class="container">
        <h2>铁塔管理</h2>
        <p>
            <a href="javascript:$('#modalImportTowers').modal('show')" class="btn btn-success">导入铁塔数据</a>
        </p>
        <div class="form-actions">
            <p class="form-inline">
                <input type="text" placeholder="铁塔名称" id="txtSearchName" />
                <select id="lstProviders">
                    <option selected value="">运营商</option>
                    <option value="China Mobile">中国移动</option>
                    <option value="China Telecom">中国电信</option>
                    <option value="China Unicom">中国联通</option>
                </select>
                <select id="lstTypes" style="width:60px!important">
                    <option value="">塔型</option>
                    <option value="B">B</option>
                    <option value="T">T</option>
                    <option value="Z">Z</option>
                </select>
                <input type="text" placeholder="城市" id="txtSearchCity" />
                <input type="text" placeholder="地区" id="txtSearchDistrict" />
                <select id="lstSearchStatus">
                    <option value="">属性</option>
                    <option value="正常">正常</option>
                    <option value="预选">预选</option>
                    <option value="难点">难点</option>
                    <option value="储备">储备</option>
                </select>
                <button role="button" class="btn btn-primary" id="btnSearchTower">检索</button>
                <a href="javascript:exportTowers()" class="btn btn-info">导出</a>
            </p>
        </div>
        <p><a href="javascript:DeleteTowers()" class="btn btn-danger">批量删除</a></p>
        <table class="table">
            <thead>
            <th><input type="checkbox" id="chkSelectAll" /> 全选</th>
            <th>名称</th>
            <th>城市</th>
            <th>地区</th>
            <th>地址</th>
            <th>运营商</th>
            <th>场景</th>
            <th>塔型</th>
            <th>高度</th>
            <th>属性</th>
            <th>操作</th>
            </thead>
            <tbody class="tower-list"></tbody>
        </table>
    </div>
</div>